 
 footer{
    background-color: #162b4e;
    
  }
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.1%;
        grid-area: footer;
      
 }

 .footer div{
     width: 40px;
     margin-right: 25px;
 }
       
        $redes:(
            twitter: #55acee,
            faceboock: #3a5795,
            instagram: #c25e30,
        );
    
        @each $red, $color in $redes{
            .btn--#{$red}{
                background-color: $color;
                margin: 10px;
            }
        }
    
  