.main{
  background-color: aqua;
 
}
.banner{
  height: auto;
  margin: auto;
  grid-area: imagen;
 }

.video_youtube{
  grid-area: video;


}


.aside{
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
 }   

 @mixin parrafo ($color) {
   color: $color;
 
   
 }
 .parrafo{
   @include parrafo(red)

 }


