.main{
  background-color: aqua;
 
}
.banner{
  height: auto;
  margin: auto;
  grid-area: imagen;
 }

.video_youtube{
  grid-area: video;
  


}

section.section-video {
  max-height: 500px;
}


.aside{
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
 }   

 @mixin parrafo ($color) {
   color: $color;
 
   
 }
 .parrafo{
   @include parrafo(red)

 }

 .titulo-texto {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.section-video {
  grid-area: seccion;
  padding: 30px;
}

h1 {
  color: #ff4d25;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

h2 {
  font-size: 26px;
  color: #162b4e;
  font-weight: 400;
  letter-spacing: 1px;
}






