#main{
 display: grid;
 grid-template-columns: 1fr 2fr;
 background-color: aqua;
 
}
.banner{
  height: auto;
  margin: 0.5px;
 }

.video_youtube{
  padding: 5%;

}

.aside{
 @extend .footer;
 flex-direction: column;
  
  
 }   

 @mixin parrafo ($color) {
   color: $color;
 
   
 }
 .parrafo{
   @include parrafo(red )

 }


