
   .nav-item{
    display: flex
    
  }

  a.nav-link.active {
    background-color: white !important;
}

a.nav-link.active {
  color: black !important;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}