#main {
  display: grid;
  grid-template-columns: 1fr 2fr; }
  #main .banner {
    height: auto; }
    #main .banner .video_youtube {
      padding: 5%; }
      #main .banner .video_youtube .aside {
        padding: 5%; }

* {
  padding: 0%;
  margin: 0%; }

body {
  display: grid;
  grid-template-rows: 0.5fr 4fr 2fr 0.5fr; }

.banner img {
  background-color: dimgrey;
  height: 100%;
  width: 100%; }

footer {
  background-color: black; }
