.main {
  background-color: aqua; }

.banner {
  height: auto;
  margin: auto;
  grid-area: imagen; }

.video_youtube {
  grid-area: video; }

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.parrafo {
  color: red; }

footer {
  background-color: black; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.1%;
  grid-area: footer; }

.btn--twitter {
  background-color: #55acee;
  margin: 10px; }

.btn--faceboock {
  background-color: #3a5795;
  margin: 10px; }

.btn--instagram {
  background-color: #c25e30;
  margin: 10px; }

.nav-item {
  display: flex; }

* {
  padding: 0%;
  margin: 0%; }

.body {
  display: grid;
  gap: 0.5px;
  grid-template-areas: "header" "imagen" "aside" "servicios" "footer"; }

@media (min-width: 570px) {
  body {
    display: grid;
    gap: 0.5px;
    grid-template-rows: 0.5fr 4fr 2fr 2fr 0.5fr; } }

@media (min-width: 570px) {
  .main {
    display: flex;
    flex-direction: row; } }

@media (min-width: 570px) {
  .servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

.banner img {
  background-color: dimgrey;
  height: 100%;
  width: 100%; }

ul {
  display: flex;
  flex-direction: row;
  flex: 1; }

.seccion {
  background-color: dimgrey;
  margin: 0.1%; }

.div {
  background-color: darkolivegreen;
  margin: 0.1%; }

.servicios {
  grid-area: servicios;
  background-color: orange; }

.div_serv {
  background-color: white;
  margin: 10%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
